@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');


@font-face {
	font-family: HelveticaNeueLTPro-Lt;
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueLTPro-Roman;
	src: url('fonts/HelveticaNeueLTPro-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), url('fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), url('fonts/HelveticaNeueLTPro-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
